@use 'mainStyle.scss';

body {
    background-color: mainStyle.$bg-color;
    color: mainStyle.$primary-color;
    font-family: mainStyle.$font-regular;
}

.logo__wrapper_small {
    font-size: clamp(16px, 2vw, mainStyle.$second-heading-pc);
    letter-spacing: 3px;
}

.logo__wrapper_big {
    background-image: url(/img/aboutUsPage/logo_name.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: clamp(100px, 20vw, 200px) !important;
}

.info__box,
.facts__box,
.contacts__box,
.qa__box {
    margin-top: clamp(20px, 8vw, 100px);
}

.info__logo {
    font-family: mainStyle.$font-extraBold;
    font-size: clamp(13px, 2vw, mainStyle.$second-heading-pc);
}

.info__text,
.facts__text {
    font-size: clamp(mainStyle.$default-text-phone, 2vw, mainStyle.$default-text-pc);
}

.facts__img {
    background-size: cover;
}

.facts__img_square {
    background-position: center;

    background-image: url(/img/aboutUsPage/people1.jpg);
    height: clamp(230px, 30vw, 430px);
}

.facts__img_rentagle {
    background-position: top;
    background-image: url(/img/aboutUsPage/people2.jpg);
    height: clamp(260px, 30vw, 460px);
}

.facts__text_bold {
    font-family: mainStyle.$font-extraBold;
    font-size: clamp(22px, 2vw, 36px);
}

.heading {
    font-family: mainStyle.$font-extraBold;
    letter-spacing: 5px;
    font-size: clamp(mainStyle.$default-text-pc, 2.7vw, mainStyle.$second-heading-pc);
}

.circle {
    position: absolute;
    background: radial-gradient(rgba(67, 171, 225, 0.4) 0%, rgba(0, 28, 86, 0.8) 70%);
    border-radius: 50%;
    filter: blur(50px);
    z-index: -1;
    margin-top: 200px;
    margin-left: 330px;
    height: clamp(100px, 50vw, 220px);
    width: clamp(100px, 50vw, 220px);
}

.contacts__svg{
    height: clamp(30px, 5vw, 48px);
    width: clamp(30px, 5vw, 48px);
}
.contacts__svg_phone {
    height: clamp(25px, 5vw, 43px);
    width: clamp(25px, 5vw, 43px);
}

.contacts__name,
.contacts__info {
    font-size: clamp(10px, 2vw, 18px);
}
.contacts__name,
.contacts__info,
.contacts__info_big{
    letter-spacing: 2px;
}
.contacts__info_big {
    font-size: clamp(11px, 2vw, 20px);

}
.qa__box{
    background-image: url(/img/aboutUsPage/bg_qa.jpg);
    background-size: cover;
    height: min-content;
    padding: 110px 0;
    @media (max-width: 576px) {
    padding: 40px 0;
        
    }
    box-shadow: #000000 0px 80px 60px 30px inset, rgb(0, 0, 0) 0px -80px 60px -40px inset;
}
.qa__handler{
    padding: 15px 35px;
    border-radius: 10px;
    background-color: rgba(160, 211, 248, 0.15);
    backdrop-filter: blur(10px);
}
.qa__answer, .qa__question{
    font-size: clamp(11px, 2vw, 16px);
}
.qa__question{
    font-family: mainStyle.$font-extraBold;
}